{% extends 'base.html' %} {% block content %}
<form action="{{ url_for('update_details', plan_id = look_for_id._id) }}" method="POST">
<div class="plan_body">
  <div class="container">
  <h1> Hello {{organizer_name}}! Your ID is {{look_for_id._id}} </h1>
    <div class="row">
      <div class="col-md">
        <div class="contact-form">
          <div class="row row-form">
            <span class="col-sm-4">Event Name</span>
            <span class="col-sm-8"
              ><input
                type="text"
                class="form-control"
                id="event_name"
                name="event_name"
            /></span>
          </div>
          <div class="row row-form">
            <span class="col-sm-4">Event Description</span>
            <span class="col-sm-8">
              <textarea
                class="form-control"
                rows="5"
                id="event_description"
                name="event_description"
              ></textarea>
            </span>
          </div>
          <div class="row row-form">
            <div class="col-sm-4">Date & Time</div>
            <div class="col-sm-8">
            <div id="extra_avail" class="taskContent">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control avail_picker"
                  name="event_availability1"
                />
              </div>
            </div>
            <div id="taskEmpty"></div>
            </div>
            <div class="col-sm-12">
              <p class="text-right add_more" id="add_avail">
                + Add more availabilities
              </p>
            </div>
          </div>
          <div class="row row-form">
            <div class="col-sm-4">Places</div>
            <div class="col-sm-8">
              <div id="extra_places">
                <div>
                  <input
                    type="text"
                    class="form-control event_place"
                    name="event_place1"
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <p class="text-right add_more" id="add_places">
                + Add more places
              </p>
            </div>
          </div>
          <div class="row row-form">
            <span class="col-sm-4">Theme</span>
            <span class="col-sm-8"
              ><input type="text" class="form-control" id="theme" name="theme"
            /></span>
          </div>

          <div class="row d-flex justify-content-center">
            <div>
              <button type="submit" id="button_create">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}
