{% extends 'base.html' %} {% block content %}
<div class="plan_body">
	<div class="container">
		<div class="row">
			<div class="col-md">
				<div class="text-center">
					<h2 class="title_restore_plan">Restore your plan.</h2>
					<i class="fas fa-search search_size"></i>
					<p class="title_restore_plan">
						Please enter organizer's name and event key.
					</p>
				</div>
				<form action="{{url_for('restore_data')}}" method="POST" class="needs-validation" novalidate>
					<div class="restore_form">
						<div class="form-row row-form-adjust">
							<span class="col-sm-4">Organizer's Name</span>
							<span class="col-sm-8"
                ><input
                  type="text"
                  class="form-control form-valid"
                  name="organizer_name"
                  aria-invalid="false"
                  value="{{organizer_name}}"
                  required
                />
                <span class="invalid-feedback">
                  Please input organizer's name.
                </span></span>
						</div>
						<div class="form-row row-form-adjust">
							<span class="col-sm-4">Event Key</span>
							<span class="col-sm-8"
                ><input
                  type="text"
                  class="form-control form-valid"
                  name="event_key"
                  aria-invalid="false"
                  value="{{event_key}}"
                  required
                />
                <span class="invalid-feedback">
                  Please input the event key.
                </span></span>
						</div>
					</div>
					<div class="text-center">
						<button type="submit" class="button_restore">
              Restore
            </button>
					</div>
				</form>
				<p class="text-center">{{ not_found_message }}</p>
				{% block restored_data %} {% endblock %}
			</div>
		</div>
	</div>
</div>
{% endblock %}