{% extends 'restore_plan.html' %} {% block restored_data %}
<div class="container restored_data_container">
    <div class="row text-center">
        <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <h4>Change information of your plan.</h4>
                <div class="button_margin_top">
                    <a href="{{url_for('change_plan', plan_id=plan_id)}}" class="button_submit"> Change Your Plan</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <h4>Go to the participant page.</h4>
                <div class="button_margin_top">
                    <a href="{{url_for('see_plan_from_restore', plan_id=plan_id)}}" class="button_submit"> See Your Plan</a>
                </div>
                <p class="suggestion_word">{{ suggestion_word }}</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                <h4>Copy your url to share with participants.</h4>
                <div class="copy_link_to_clipboard justify-content-center">
                    <span class="copy_link_text">
                        <input id="copy_link_url" class="copy_link_url" type="text" value="https://yayplan.herokuapp.com{{url_for('update_plan_participants', plan_id=plan_id)}}" readonly />
                    </span>
                    <span>
                        <button type="submit" class="button_copy_link" onclick="copyUrl()">
                            Copy Link
                        </button>
                    </span>
                </div>
                <div>
                    <p class="copied_successfully text-center">.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                <h4>Delete your plan.</h4>
                <div class="copy_link_to_clipboard justify-content-center">
                    <button class="button_submit" data-toggle="modal" type="button" data-target="#myModalDelete">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Are you sure to delete the plan?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The data you delete cannot be recovered.
            </div>
            <div class="modal-footer">
                <button type="button" class="button_cancel" data-dismiss="modal">
                    Close
                </button>
                <a href="{{url_for('delete_plan', plan_id=plan_id)}}" target="_top" class="participant_delete_from_DB"> Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}